.text-field {
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-background-radius: 20;
    -fx-border-radius: 20;
}
.text-area{
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-background-color: transparent;
    -fx-background-radius: 20;
    -fx-border-radius: 20;
    -fx-border-color: blue;
    -fx-border-width: 2;
    -fx-padding: 5;
}

.scroll-pane .viewport {
    -fx-border-color: blue; /* Colore del bordo */
    -fx-border-width: 2px; /* Spessore del bordo */
}